@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #acb6e5, #74ebd5);
  background: linear-gradient(to right, #acb6e5, #74ebd5);
}

.Button {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
